/* Stylesheet by Trever J. Bruhn 2022*/

/*
========== Global ============
*/
body {
  background-image: url("../img/raindrops.png");
  background-color: rgb(215, 217, 223);
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

:where(h1, h2, h3) {
  font-family: "Montserrat", sans-serif;
  /* text-shadow: 3px 2px 4px white; */
}

.button {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  border-color: rgba(255, 255, 255, 0.7);
}

/*
========== Title ==========
*/
#title {
  text-align: center;
  padding: 1px;
  margin: 0px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0)
  );
  border-radius: 2em;
}

/* 
======== Map and Map Elements ========
*/
#map {
  height: 80vh;
  width: 80%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border-radius: 1em;
}

.sequence-control-container {
  width: 210px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  border: solid gray 1px;
  border-radius: 1em;
}
.sequence-control-container span {
  display: block;
  text-align: center;
  width: 210px;
}
.sequence-control-container button {
  border-color: rgba(255, 255, 255, 1);
}

.legend-control-container {
  width: 250px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  line-height: 15px;
  text-align: center;
  border: solid gray 1px;
  border-radius: 1em;
  font-weight: bold;
}

#temporal-legend {
  padding-bottom: 5px;
}

.range-slider {
  width: 150px;
}

#forward {
  float: right;
}

#reverse {
  float: left;
}

/*styleing the popups to have less space between attr*/
.leaflet-popup-content p {
  margin: 0.2em 0;
}

/*
========== Panel ==========
*/
#panel {
  width: 16vw;
  height: 75vh;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
}

#panelTop {
  text-align: center;
}

#panelTop h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#panelTop h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid gray 1px;
}

#summary h3 {
  text-align: center;
  margin-bottom: 2px;
  font-family: "Patrick Hand SC", cursive;
  font-size: larger;
}
#summary p {
  margin-top: 2px;
  font-size: smaller;
}

/*
========== Filter Panel ==========
*/
#filter-panel {
  width: 80vw;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: smaller;
}

#references {
  float: left;
}
#background {
  float: right;
}

#yeardropdown {
  display: none;
}

#monthdropdown {
  display: none;
}

/*
========== Foot ==========
*/
#foot {
  width: 98%;
  display: none;
  text-align: left;
  font-size: smaller;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  padding: 0.5em;
}

/*
========= Responsive =========
*/
@media screen and (max-width: 1200px) {
  body {
    background-image: none;
  }
  #panel {
    display: none;
  }
  #map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
  #filter-panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
  #background {
    display: none;
  }
}
