/* Stylesheet by Trever J. Bruhn 2022*/

/* defining the size of the map container*/
#map {
  height: 600px;
  width: 80%;
  display: inline-block;
}

#foot {
  width: 80%;
  display: inline-block;
  text-align: center;
}

/*defining the size of the panel container*/
#panel {
  width: 16%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.range-slider {
  width: 90%;
}

#forward {
  float: right;
}

#reverse {
  float: left;
}

/*styleing the popups to have less space between attr*/
.leaflet-popup-content p {
  margin: 0.2em 0;
}
